
a{
    text-decoration: none;
}

.titlecat{
    color: white;
    background-position: center, center;
    height: 390px;
    border-radius: 5px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0px ;
    padding-top: 20px;
    padding-bottom: 30px;
    
    
}
.titlecat h1{
    font-family: 'Roboto Condensed', sans-serif;   
} 


@media screen and (min-width : 1451px){ 
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap : 40px;
        margin: 0px 26vw;
        
        margin-top: 70px;
        margin-bottom: 80px; 
    }
    .titlecat{
        min-height: 280px;
        max-height: 21vw;
        padding: 0px; 
        height: 20vw;  
    }
    .titlecat h1{
        position: relative; 
        font-size: 2vw;
        letter-spacing: 5px;
        bottom: 1%;     
} 


}

@media screen and (max-width : 1450px){ 
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap : 40px;
        margin: 0px 22vw;
        
        margin-top: 85px;
        margin-bottom: 90px; 
    }
    .titlecat{
        min-height: 280px;
        max-height: 450px;
        padding: 0px;   
    }
    .titlecat h1{
        position: relative; 
        font-size: 2vw;
        letter-spacing: 5px;
        bottom: 1vw;     
} 


}

@media screen and (max-width: 1024px) {

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 45px 310px;
        grid-gap : 30px;
        margin: 5% 20%;
        
    }
    .titlecat{
        min-height: 225px;
        max-height: 60vw;
        padding: 0px;  
        border-radius: 7px; 
    }
    .titlecat h1{
        position: relative; 
        font-size: 2.5vw;
        letter-spacing: 3px;
        margin: 0px;
        bottom: 7vw;     
} 
}

@media screen and (max-width: 991px) {

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 50px 250px;
        grid-gap : 20px;
        margin: 5% 15%;
        
        
    }
    .titlecat{
        
        max-height: 270px;
        padding: 0px;  
        border-radius: 7px; 
    }
    .titlecat h1{
        position: relative; 
        font-size: 24px;
        letter-spacing: 3px;
        margin: 0px;
        bottom: 7%;       
} 
}

@media screen and (max-width: 766px) {

    .cards {
        display: grid;
        grid-template-columns:  1fr;
        grid-gap: 15px;
        margin: 5% 0%;
        max-width: 100%;
        height: auto;
        
        
    }
    .titlecat{
        min-height: 225px;
        max-height: 250px;
        padding: 0px;  
        border-radius: 7px; 
    }
    .titlecat h1{
        position: relative; 
        font-size: 24px;
        letter-spacing: 4px; 
        margin: 0px;
        bottom: 9%;       
} 
}






